.homepage{
    padding-top: 50px;
    display:flex;
    padding-left: 100px;

}
.image{
    border-radius: 5px;
    width: 400px;
    margin-left: 100px;
}
p{
    color:rgb(118, 26, 0);
    margin-left: 100px;
    padding-top: 60px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 60px;
}