.homepage{
    padding-top: 50px;
    display:flex;
    justify-content: space-around;

}
.image{
    width:400px;
    border-radius: 5px;
}
p{
    color:rgb(118, 26, 0);
    padding-top: 50px;
    padding-right: 50px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 38px;
    font-weight: 500;
}