*{
    margin: 0;
  }
  .cartheading{
    padding-top: 20px;
    font-size: 30px;
    text-align: center;
    font-weight: 500;
    color:rgb(200, 101, 10);
  }
  .headings{
    padding-top: 50px;
    display: flex;
    gap: 500px;
    padding-left: 40px;
  }
  .headingsitems{
    font-size: 25px;
    font-weight: 600;
  }
  .cartitems{
    padding: 10px 10px;
  
    display: flex;
  }
  .cartitems1{
    width:570px;
  }
  .price{
    padding-right:50px;
  }
  