<header class="navbar">
    <h1>COSMETICS</h1>
    <ul class="nav justify-content-end">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/home']">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" [routerLink]="['/food-page']">Products</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/cart-page']">Cart</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/search']">Search</a>
      </li>
    </ul>
</header>
