
@for( weatherForecast of weatherForecasts;track $index){
    <div class="fooditems">
        <img src="{{weatherForecast.image}}" alt="{{weatherForecast.name}}" class="image">
        <div class="food-details">
            <div><h2>{{weatherForecast.name}}</h2></div>
            <div class="details">
                <p>Price: {{weatherForecast.price}}</p>
                <p>Color: {{weatherForecast.color}}</p>
                
            </div>
        </div>
        <div class="buttons">
            <div class="Order"><button type="button" class="btn btn-light">Order</button></div>
            <div class="Add To Cart">
                <button type="button" (click)="senddata(weatherForecast)" class="btn btn-warning">Add To Cart</button> 
            </div> 
        </div>
    </div>
}