<div *ngFor="let item of items" class="fooditems">
    <img [src]="item.image" alt="{{item.foodname}}" class="image">
    <div class="food-details">
        <div><h2>{{item.foodname}}</h2></div>
        <div class="details">
            <p>Price: {{item.price}}</p>
            <p>Restaurent: {{item.restaurent}}</p>
            <p>Offer: {{item.offer}}</p>
        </div>
    </div>
    <div class="buttons">
        <div class="Order"><button type="button" class="btn btn-light">Order</button></div>
        <div class="Add To Cart">
            <button (click)="addToCart(item)" type="button" class="btn btn-warning">Add To Cart</button> 
        </div> 
    </div>
</div>
